[Unit]
Description=Pihole
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=30
ExecStart=/usr/local/bin/docker-compose up
WorkingDirectory=%SERVER_CONFIG_DIR%/containers/pihole

[Install]
WantedBy=multi-user.target
